aioice
aiortc
albucore
albumentations
altair
annotated-types
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
cycler
Cython
dnspython
easydict
flatbuffers
fonttools
gitdb
GitPython
google-crc32c
humanfriendly
idna
ifaddr
imageio
insightface
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
narwhals
networkx
numpy
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
pandas
pillow
prettytable
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pyee
Pygments
pylibsrtp
pyOpenSSL
pyparsing
pyreadline3
python-dateutil
pytz
PyYAML
redis
referencing
requests
rich
rpds-py
scikit-image
scikit-learn
scipy
simsimd
six
smmap
streamlit
streamlit-webrtc
stringzilla
sympy
tenacity
threadpoolctl
tifffile
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
wcwidth
